html, body {
  background-color: rgb(24, 24, 27);
  color: #fff;
}

:root {
  --twitch-ice: #f0f0ff;
  --twitch-light-gray: #54545a;
  --border-radius-rounded: 9000px;
  --font-weight-semibold: 600;
  --color-opac-w-3: hsla(0, 0%, 100%, 0.15);
  --color-opac-w-10: hsla(0, 0%, 100%, 0.7);
  --color-text-tag: var(--color-opac-w-10);
  --color-background-tag-default: var(--color-opac-w-3);
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(32, 32, 35);
  border-bottom-color: rgb(239, 239, 241);
  height: 3.6rem;
}

.login {
  padding: 0.5rem;
  white-space: nowrap;
  background-color: rgba(255, 255, 255);
  border-radius: 4px;
}

.login:hover {
  background-color:rgba(255, 255, 255, 0.9);
}

.signup {
  padding: 0.5rem;
  white-space: nowrap;
  background-color: rgb(145, 71, 255);
  border-radius: 4px;
}

.leftSection {
  display: flex;
  align-items: center;
}

.logo {
  width: 2rem;
}

.dot {
  color: #fff;
  width: 1.5rem;
}

.browse {
  margin: 0 30px;
  color: #fff;
}

.browse:hover, .dot:hover {
  color: #a970ff;
}

.sideBar {
  height: 100%;
  background-color: rgb(31, 31, 35);
  z-index: 9;
  transition: all 0.3s ease;
}

.sideBar__info {
  width: 12rem;
  margin: 10px;
  padding: 20px;
}

.sideBar__row {
  display: flex;
  padding: 10px;
  margin: 10px;
}

.sideBar__row__headTitle {
  margin-right: 10px;
}

.sideBar__row__card {
  margin: 10px;
}

.sideBar__row__card > a {
  text-decoration: none;
}

.sideBar__row__card__headShot {
  /* border: 1px solid; */
  /* border-radius: 50%; */
  width: 3rem;
  /* background-color: rgb(194, 90, 90); */
}

.sideBar__row__card__headShot > img {
  width: 100%;
  border-radius: 50%;
}

.sideBar__row__card > a {
  display: flex;
  align-items: center;
  color: #fff;
}

.sideBar__row__card__text {
  width: 100%;
  padding: 0.5rem
}

.online {
  width: 0.8rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: red;
}

.rightSection {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  height: 100%;
  /* width: 100%; */
  margin-top: 0.1rem;
}



.container {
  width: 0;
  flex: 1;
}

.divider {
  display: flex;
  align-items: center;
}

.line {
  width: 100%;
  border: 1px solid blue;
}

.showMore {
  white-space: nowrap;
}

.carouselSection {
  position: relative;
  display: flex;
  /* width: 100%; */
  height: 500px;
  margin: 30px auto 0;
}

.left__arrow {
  width: 40px;
  position: absolute;
  top: 230px;
  z-index: 99;
}

.right__arrow {
  width: 40px;
  position: absolute;
  top: 230px;
  right: 0;
  z-index: 99;
}

.view {
  width: 100%;
  height: 100%;
  display: flex;
}

.view > img {
  height: 100%;
  width: 75%;
}

.info {
  width: 200px;
  height: auto;
  background-color: #000000;
  padding: 15px;
}

.info__block {
  display: flex;
}

.info__avatar {
  padding: 10px;
  width: 5rem;
  height: 5rem;
}

.info__avatar > img {
  width: 100%;
  border-radius: 50%;
}

.info__text {
  white-space: nowrap;
  font-weight: 600;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info__text > a {
  color: rgb(145, 71, 255);
}

.info__text > a:hover {
  color: #a970ff;
}

.info__tag {
  padding: 0 0.8rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  align-items: center;
  border-radius: var(--border-radius-rounded);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-tag);
  background-color: var(--color-background-tag-default);
}

.info__des {
  padding: 0 0.8rem;
  line-height: 1.5rem;
  /* text-overflow: ellipsis;
  overflow: hidden; */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video {
  width: 75%;
  height: 100%;
  background-color: black;
}

.carousel__card {
  position: absolute;
  top: 10%;
  z-index: 5;
  width: 800px;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: all 0.3s ease;
  /* background-color: brown; */
}

.left__first__card {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
  left: -20%;
  right: 0;
  z-index: 4;
  transition: all 0.3s ease;
  width: 640px;
  /* background-color: yellow; */
}

.left__last__card {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 20%;
  left: -40%;
  right: 0;
  z-index: 3;
  transition: all 0.3s ease;
  width: 480px;
  /* background-color: blue; */
}

.right__first__card {
  position: absolute;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: -20%;
  z-index: 4;
  transition: all 0.3s ease;
  width: 640px;
  /* background-color: yellow; */
}

.right__last__card {
  position: absolute;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: -40%;
  z-index: 3;
  transition: all 0.3s ease;
  width: 480px;
  /* background-color: blue; */
}

.liveSection {
  /* width: 100%; */
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.liveStream {
  box-sizing: border-box;
  padding: 0.5rem;
}

.liveStream > a > img {
  width: 100%;
}

.liveStream__card {
  display: flex;
  padding-top: 0.5rem;
}

.liveStream__textSection {
  width: 100%;
}

.liveStream__textSection > a {
  text-decoration: none;
}

.liveStream__text__status {
  color: #fff;
  padding: 0.2rem 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.liveStream__text__name, .liveStream__text__game {
  color: rgb(173, 173, 184);
  padding: 0.2rem 0;
  font-size: 0.8rem;
}

.liveStream__text__status:hover, .liveStream__text__name:hover, .liveStream__text__game:hover {
  color: rgb(145, 71, 255);
}

.liveStream__headShot {
  width: 20%;
}

.liveStream__headShot > img {
  width: 75%;
  border-radius: 50%;
}

.liveSection__text {
  /* width: 100%; */
  margin: 10px;
  padding: 0 20px;
  font-weight: 500;
}

.none {
  display: none;
}

.marginRight5 {
  margin-right: 5px;
}

.marginRight10 {
  margin-right: 10px;
}

.marginRight20 {
  margin-right: 20px;
}

.marginLeft10 {
  margin-left: 10px;
}

.marginLeft20 {
  margin-left: 20px;
}

@media (max-width: 575px) {
  .sideBar__info, .sideBar__row, .sideBar__row__card__text, .online, .sideBar__row__card__num {
    display: none;
  }

  .browse {
    display: none;
  }

  .sideBar__row__card__headShot {
    width: 30px;
    height: 30px;
    border: none;
  }

  .sideBar {
    width: 5rem;
  }

  .liveSection {
    display: block;
  }

  .liveStream {
    width: 90%;
  }
  .info {
    display: none;
  }
  .video {
    width: 100%;
    height: 350px;
  }
  .carousel__card {
    width: 300px;
    position: relative;
    top: 0;
  }
  .carouselSection {
    margin: 0;
    height: 400px;
  }
  .left__last__card, .left__first__card, .right__last__card, .right__first__card, .sideBar__row__card__num, .dot {
    display: none;
  }

  .sideBar__row__card {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 576px) and (max-width: 991px) { 
  .sideBar {
    width: 10rem;
  }
  .liveStream {
    width: 50%;
  }
  .info {
    width: 100px;
  }
  .video {
    width: 500px;
    height: 350px;
  }
  .carousel__card {
    width: 600px;
  }
  .left__first__card, .left__last__card, .right__first__card, .right__last__card, .sideBar__row__card__num, .dot {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) { 
  .sideBar {
    width: 15rem;
  }
  .liveStream {
    width: 30%;
  }
  .carousel__card {
    width: 600px;
  }
  .left__first__card, .left__last__card, .right__first__card, .right__last__card {
    display: none;
  }
}

@media (min-width: 1200px) { 
  .sideBar {
    width: 20rem;
  }
  .liveStream {
    width: 25%;
  }
}
